<?xml version = "1.0" standalone="yes"?>
<configuration>

  <peppers>
      
    <!-- __AuthorizationManager::getInstance() returns this instance: -->
    <pepper id="authorizationManager" class="__AuthorizationManager"/>
    
    <!-- __AuthenticationManager::getInstance() returns this instance: -->
    <pepper id="authenticationManager" class="__AuthenticationManager">
      <property name="authenticators">
        <list>
          <ref id="authenticator"/>
        </list>
      </property>
    </pepper>

    <pepper id="authenticator" class="__Authenticator">
      <property name="userLoader">
        <ref id="userLoader"/>
      </property>
    </pepper>    
    
    <pepper id="userLoader" class="__UserLoader"/>
    
  </peppers>
  
</configuration>