<?xml version="1.0" standalone="yes"?>

<configuration>

  <routes>
  
    <route id="phal_documentation" uri-pattern="\/documentation\.phal$">
      <front-controller class="__HttpFrontController"/>
      <action controller="$controller" code="$action"/>
      <parameter name="${REQUEST_PHAL_ADMIN_AREA}" value="1"/>
      <variable name="$controller" var-pattern="^[_A-Za-z][_A-Za-z0-9]*$"/>
      <variable name="$action" var-pattern="^[_A-Za-z][_A-Za-z0-9]*$"/>
    </route>

  </routes>

</configuration>
